@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
}
.container {
	width: min(1200px, 100% - 2rem);
	margin-inline: auto;
	overflow: hidden;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 3rem;
}

.main {
	margin-top: 1.3rem;
	margin-left: 0px;
	margin-right: 0px;
}

.employee_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 10px;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.employee_name {
	font-size: 20px;
	font-weight: 500;
    margin-bottom: 0px;
}

.employee_title {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
	color: #75777a;
}

.employee_details {
    text-align: center;
}

.employee_body {
	font-size: 14px;
	font-weight: 500;
    color: #3c3f3f;
    margin-left: 15px;
}

i {
    vertical-align: middle;
    margin-right: 5px;
	color: #0077B6;
}

.btn {
	padding: 8px;
	border-radius: 5px;
	background-color: #0077B6;
	color: white;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #006ba4;
}

.bi-plus-square {
	color: white;
	margin-right: 2px;
	font-size: 16px;
}

.modal__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.modal__header i {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	margin-top: 8px;
	margin-right: 8px;
}

.modal {
	border: none;
	border-radius: 5px;
	padding: 20px;
	max-width: 550px;
	user-select: text;
}

.input-box {
	display: flex;
	flex-direction: column;
}

.input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	border: 1px solid #e6e1e1;
}

.user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

.input-box {
	margin-bottom: 15px;
	width: 45%;
	margin-right: 10px;
}

.details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.form_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

.form_footer .btn {
	padding: 7px 15px;
}

.btn-danger {
	background-color: #ff2c2c;
}

.btn-danger:hover {
	background-color: #ef0000;
}

.profile {
	color: black;
    background-color: #f2f2f2;
    border-radius: 10px;
	width: 32%;
	height: 30%;
	padding: 5px;
	margin-top: 32px;
}

.whole {
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.profile__settings {
	background-color: #f2f2f2;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	border-radius: 8px;
}

a.link {
	background: transparent;
}

@media (max-width: 630px) {
	.whole {
		flex-direction: column;
		align-items: center;
	}

	.profile {
		width: 50%;
	}
}